*{ margin: 0; padding: 0 }

.fundo{
    background-color:#aae2e9;
    width: 100%;
    height: 160px;
    position: fixed; /mantêm o cabeçalho fixo/
    z-index: 1; /quando rolar para baixo, ele irá ficar por cima do conteúdo da página/
}

.anos{
    padding: 200px;
    align-items: center;
}

.menu{
    list-style: none;
    border: 1px solid #c0c0c0;
    float: right;
    cursor: pointer;
    font-size: 14px;
    }

.menu li{
    position:relative;
    float:left;
   
    }
.menu li a{color:#333; 
    text-decoration:none; 
    padding:10px 15px; 
    display:block;
    font-family: "Copperplate", fantasy
}

.menu li a:hover{
    background:#333;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:none;
    }

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
    }


 /todas as caixas/
 .registrationSystem {
    display: flex;
    flex-wrap: wrap;
    width: 90%; /muda a largura das caixas em geral/
}

/cada caixa/
.rs_item {
    flex-basis: 12%; /aqui nn sei dizer como ajeita, mas muda os valores de cada um pra entender/
    margin-top: 2%;
    margin-left: 7%;
    padding: 10px 30px;
    border-radius: 25px;
    cursor: pointer;
	
  background: #444;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;

}

.rs_item:hover{ background: #fff;



} /serve para fazer animação na caixa quando passar o mouse/

/fundo/
.anos {
    width: 100%;
    height: 55px;
}

#fonteT {
    font-size: 75px;
    position: absolute;
    color: white;
    margin: 3%;
    left: 30.6%;
    font-family: "Copperplate", fantasy;
}